html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: arial;
    vertical-align: baseline;
}
/*APP根元素*/
#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
/*整体页面*/
#index_view {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}
/*页面最顶端*/
#index_view .ui-new-toolbar {
    background-image: url(http://m.baidu.com/static/news/webapp/webappandroid/img/bg-news-logo_344ce44.png);
    background-repeat: no-repeat;
    background-position: center 6px;
    background-size: 77px auto;
    -webkit-background-size: 77px auto;
}
.ui-new-toolbar {
    position: relative;
    min-width: 320px;
    height: 44px;
    z-index: 2;
    background-color: #3e98f0;
    text-align: center;
    font-weight: 400;
    color: #fff;
}
/*左端*/
.ui-new-toolbar-l {
    top: 0;
    left: 0;
}
.ui-new-toolbar-l, .ui-new-toolbar-r {
    position: absolute;
    height: 100%;
    overflow: hidden;
}
.btn-baidu {
    background-position: center 4px;
}
.ui-new-toolbar-l .ui-new-toolbar-btn {
    float: left;
}

.ui-new-toolbar-btn {
    width: 34px;
    height: 100%;
    font-size: 15px;
    line-height: 44px;
}
.btn-search, .btn-product, .btn-modelopen, .btn-subscribe, .btn-baidu, .btn-back, .btn-home, .btn-dld, .btn-config, .btn-bigger, .btn-smaller, .btn-userhome, .ui-toolbar-func .btn-slide, .ui-footer-app-download span, .page-view-list-item-inner div:nth-child(2) span:nth-child(3), .page-view-share span, .ui-gotop span {
    border: 0;
    background-image: url(http://m.baidu.com/static/news/webapp/webappandroid/img/bg-new-toolbar_6e9bc53.png);
    background-size: 40px 500px;
    -webkit-background-size: 40px 500px;
    background-repeat: no-repeat;
}
.btn-userhome {
    background-position: center -463px;
    margin-left: 10px;
}
/*右端*/
.ui-new-toolbar-r {
    top: 0;
    right: 0;
}
.ui-new-toolbar-r .ui-new-toolbar-btn {
    float: left;
}
.btn-search {
    background-position: center -162px;
    margin-right: 10px;
}
.btn-subscribe {
    background-position: center -107px;
}

/*页面主体*/
/*页面主体*/
/*标签栏*/
#index_view_navigator {
    position: relative;
    background-color: #3e98f0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow: hidden;
    z-index: 2;
    color: #fff;
}
#index_view_navigator .divider {
    height: 1px;
    margin: 0 10px;
    background-color: #5dabf0;
}
#index_view_navigator .content {
    padding-top: 3px;
    padding-bottom: 38px;
}
#index_view_navigator .content ul {
    width: 100%;
    table-layout: fixed;
}
ul {
    border-collapse: collapse;
    border-spacing: 0;
}
/*单个标签*/
#index_view_navigator .content li {
    height: 33px;
    width: 53px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    float: left;
    text-align: center;
}
#index_view_navigator .content li>div {
    position: relative;
    height: 100%;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
#index_view_navigator .content ul li:first-child b {
    left: -1px;
}
#index_view_navigator .content li b {
    position: absolute;
    top: 10px;
    left: 0;
    height: 12px;
    width: 1px;
    display: block;
    overflow-y: hidden;
    background-color: #5dabf0;
}
#index_view_navigator .content li .cur {
    border-bottom: 1px solid #fff;
    margin: 0 2px;
}
#index_view_navigator .content li span {
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    color: #fff;
    white-space: nowrap;
    margin: 0 2px;
}

/*推荐新闻*/
#index_view_sections {
    position: relative;
    z-index: 1;
    top: -2px;
    min-height: 800px;
}

.index-view-subpage {
    position: relative;
    margin-top: -1px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
/*滚动新闻*/
#index_view .topic-gallery-container {
    background: url(http://m.baidu.com/static/news/webapp_pro/img/carousel_bg.png);
    background-size: 100px 100px;
    -webkit-background-size: 100px 100px;
    position: relative;
    z-index: 1;
}
.topic-gallery-container {
    margin: 10px 10px 0;
    overflow: hidden;
}
#index_view .topic-gallery {
    padding-bottom: 0;
}
.topic-gallery {
    margin-right: -10px;
    padding-bottom: 7px;
    overflow: hidden;
}

.topic-gallery .g-list {
    margin-bottom: 7px;
    display: -webkit-box;
    -webkit-box-lines: multiple;
    -webkit-backface-visibility: hidden;
    width: 100%;
}
.ui-line-icons .g-list {
    margin-bottom: 0;
}
.topic-gallery .g-item-innerbox {
    margin-right: 10px;
    position: relative;
}
.topic-gallery .g-imagebox {
    overflow: hidden;
}
.topic-gallery .g-imagebox img {
    width: 100%;
    height: inherit;
    min-height: 187px;
    vertical-align: middle;
}

#index_view .topic-gallery .g-title {
    text-align: left;
}
.topic-gallery .g-title {
    width: 100%;
    height: 28px;
    line-height: 28px;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    margin-top: 3px;
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: rgba(0,0,0,.8);
}
#index_view .topic-gallery .g-title span {
    padding-left: 8px;
}
/*来回滚动线*/
.ui-line-icons .g-icons {
    height: 3px;
    background-color: #B8BBC0;
    z-index: 1;
    display: -webkit-box;
    margin-right: 10px;
}
.topic-gallery .g-icons {
    font-size: 0;
    text-align: center;
}
.topic-gallery .g-icons i {
    display: inline-block;
    height: 6px;
    width: 6px;
    margin-right: 10px;
    border-radius: 6px;
    background-color: #d0d1d3;
}
.ui-line-icons .g-icons i {
    height: 3px;
    -webkit-box-flex: 1;
    display: block;
    margin: 0;
}

.topic-gallery .g-icons .cur {
    background-color: #3e98f0;
}

/*滚动热点*/
.ui-hotword {
    height: 28px;
    background-color: #f8f9fa;
    overflow: hidden;
    margin: 10px 10px 0;
}
/*热点*/
.ui-hotword-left {
    width: 36px;
    height: 28px;
    background-color: #e02f2f;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
}
.ui-hotword-content, .ui-hotword-left {
    float: left;
}
.ui-hotword-content {
    width: 85%;
    color: #545454;
    -webkit-backface-visibility: hidden;
}
ol, ul {
    list-style: none;
}
/*文字*/
.ui-hotword .ui-hotword-item {
    margin-left: 6px;
    line-height: 28px;
    font-size: 15px;
    height: 28px;
}
.ui-hotword .ui-hotword-item {
    margin-left: 6px;
    line-height: 28px;
    font-size: 15px;
    height: 28px;
}
.ui-hotword-item-right {
    width: 13px;
    height: 28px;
    display: inline-block;
    background: url(http://m.baidu.com/static/news/webapp/webappandroid/img/arrorw-right_dde8906.png) no-repeat;
    -webkit-background-size: 9px 12.5px;
    background-size: 9px 12.5px;
    background-position: 50% 50%;
    margin-left: 2px;
    float: left;
}
.ui-hotword-item span {
    max-width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    float: left;
}
/*新闻主体*/
.index-list:first-child {
    display: block;
}
.index-list {
    width: 100%;
    background-color: #fff;
}
/*新闻1*/
.row {
    position: relative;
    border-bottom: 1px solid #f6f6f6;
    overflow: hidden;
    padding: 10px 0;
    margin: 0 10px;
}
/*图片*/
.row img {
    font-size: 0;
    height: 68px;
    vertical-align: middle;
    width: 95px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    float: left;
    margin-left: 0;
    margin-right: 10px;
    background-color: #F4F7F9;
    position: relative;

}

.index-list-item .index-list-image img {
    height: 100%;
    width: 100%;
    vertical-align: middle;
}
/*标题*/
.showleft .index-list-main-text {
    height: 40px;
}
.index-list-item .index-list-main-text {
    max-height: 40px;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}
.row p {
    font-size: 16px;
    line-height: 20px;
    color: #262b31;
    margin: -1px 0 4px 0;
}
.index-list-item .index-list-main-abs {
    font-size: 13px;
    line-height: 20px;
    color: #b8bac0;
    font-weight: 400;
}

/*来源*/
.index-list-bottom {
    margin-top: 10px;
}
.index-list-item .index-list-main-time {
    text-align: left;
}
.index-list-item .index-list-main-time {
    font-size: 12px;
    line-height: 22px;
    color: #b8bac0;
    font-weight: 400;
}
.index-list-item .tip-fillred {
    background-color: #e02f2f;
    border: 1px solid transparent;
}
.index-list-main-site {
    display: none;
    padding-right: 10px;
}
.index-list-item .tip-topnews, .index-list-item .tip-hot, .index-list-item .tip-tag, .index-list-item .tip-recommend, .index-list-item .tip-tag, .index-list-item .tip-ad, .index-list-item .tip-topic, .index-list-item .tip-reason, .index-list-item .tip-contenttype, .index-list-item .tip-topic {
    float: right;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #fff;
    padding: 1px 2px;
    border-radius: 2px;
    margin-top: 1px;
    margin-left: 10px;
    display: inline-block;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*页面最低端*/
.ui-footer {
    height: 44px;
    overflow: hidden;
    background-color: #239bf0;
    font-size: 13px;
    line-height: 22px;
}
/*意见反馈*/
.ui-footer .item-wrapper:first-child {
    margin-left: 0;
    border-left: 0;
}
.ui-footer .item-wrapper {
    float: left;
    width: 33.3%;
    height: 21px;
    overflow: hidden;
    margin-left: -1px;
    margin-top: 12px;
    text-align: center;
    border-left: 1px solid #4fadf0;
    color: #fff;
}
.ui-footer .feedback {
    background-position: 0 3px;
}
.ui-footer .feedback, .ui-footer .app-recommend, .ui-footer .app-download {
    background-image: url(http://m.baidu.com/static/news/webapp/webappandroid/img/bg-footer_7e7ec6c.png);
    background-repeat: no-repeat;
    -webkit-background-size: 30px 300px;
}
.ui-footer .item {
    display: inline-block;
    height: 100%;
    padding-left: 25px;
}
/*应用推荐*/
.ui-footer .app-recommend {
    background-position: 0 -31px;
}
/*客户端*/
.ui-footer .app-download {
    background-position: 0 -64px;
}

/*百家新闻
百家新闻
百家新闻*/
.index-list {
    width: 100%;
    background-color: #fff;
}
/*图片*/
.index-list-album-container {
    margin-top: 5px;
    overflow: hidden;
    width: 100%;
}
.index-list-album-container {
    margin-top: 5px;
    overflow: hidden;
    width: 100%;
}
.index-list-album-container .index-list-album {
    overflow: hidden;
    width: 33.33%;
    max-height: 111px;
    float: left;
    position: relative;
}
.index-list-album-container .index-list-album-wrapper.one {
    margin-right: 7px;
}
.index-list-album-container .index-list-album-wrapper {
    background-color: #F4F7F9;
    border: 1px solid #e8e8e8;
}
.index-list-album-container img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 200px;
}
.index-list-item .tip-strokeblue {
    color: #1a8afd;
    border: 1px solid #d2d5de;
}
.index-list-item .tip-tag {
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}
.index-list-item .moretext .index-list-main-text {
    max-height: 60px;
}


/*本地新闻
本地新闻
本地新闻*/


/*图片新闻
图片新闻
图片新闻*/
/*图片*/
.index-list-mediaitem {
    margin: 10px;
}
.index-list-mediaitem .index-list-image {
    text-align: center;
    background-color: #f4f7f9;
}
.index-list-mediaitem .index-list-image img {
    width: 100%;
}
/*文字*/
.index-list-mediaitem .index-list-main-text {
    border-bottom: 1px solid #efefef;
}
.index-list-mediaitem .index-list-main-up {
    float: right;
    line-height: 30px;
    padding: 2px 0 2px 22px;
    text-align: right;
    background: url(http://m.baidu.com/static/news/webapp/webappandroid/img/bg-image_36c5a7b.png) no-repeat;
    background-size: 50px 150px;
    -webkit-background-size: 50px 150px;
    background-position: -6px -64px;
    position: relative;
    color: #545454;
}
.index-list-mediaitem .index-list-main-up b {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 24px;
    text-align: left;
    color: #f13232;
}
.index-list-mediaitem .index-list-main-title {
    line-height: 22px;
    overflow: hidden;
    font-size: 15px;
    color: #262b31;
    padding: 5px 0;
}
.index-list-mediaitem .index-list-main-abs {
    display: none;
}