<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <title>百度新闻</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/news.css">
    <script type="text/javascript" src="./javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="./javascripts/news.js"></script>
</head>

<body>
    <!-- APP根元素 -->
    <div id="wrapper" class="news">
        <!-- 整体页面 -->

        <div id="index_view" style="display: block;">
            <!-- 页面最顶端 -->
            <header>
                <div class="ui-new-toolbar">
                    <!-- 左端 -->
                    <div class="ui-new-toolbar-l">
                        <div data-href="http://m.baidu.com/?from=1000376a" class="ui-new-toolbar-btn btn-baidu"></div>
                        <div class="ui-new-toolbar-btn btn-userhome"></div>
                    </div>
                    <!-- 右端 -->
                    <div class="ui-new-toolbar-r">
                        <div class="ui-new-toolbar-btn btn-search"></div>
                        <div class="ui-new-toolbar-btn btn-subscribe"></div>
                    </div>
                </div>
            </header>
            <!-- 页面主体 -->
            <div id="index_view_content">

                <!--新闻导航-->
                <div class="header">
                    <div class="container-fluid">
                        <div class="row nav">
                            <div class="col-xs-2">
                                <!--推荐-->
                                <input id="newsbtn1" class="center-block" type="submit" value="推荐" name="recom">
                            </div>
                            <div class="col-xs-2">
                                <!--百家-->
                                <input id="newsbtn2" class="center-block" type="submit" value="百家" name="baijia">
                            </div>
                            <div class="col-xs-2">
                                <!--本地-->
                                <input id="newsbtn3" class="center-block" type="submit" value="本地" name="local">
                            </div>
                            <div class="col-xs-2">
                                <!--图片-->
                                <input id="newsbtn4" class="center-block" type="submit" value="图片" name="img">
                            </div>
                            <div class="col-xs-2">
                                <!--娱乐-->
                                <input id="newsbtn5" class="center-block" type="submit" value="娱乐" name="fun">
                            </div>
                            <div class="col-xs-2 header-2-style-only">
                                <!--社会-->
                                <input id="newsbtn6" class="center-block" type="submit" value="社会" name="society">
                            </div>
                        </div>
                    </div>
                </div>
                <!--新闻内容区-->
                <div class="content">
                    <!--新闻:推荐-->
                    
                    <!--新闻:百家-->
                    
                    <!--新闻:本地-->
                    
                    <!--新闻:图片-->
                    
                    <!--新闻:娱乐-->
                    
                    <!--新闻:社会-->
                    
                </div>
            </div>
            <!-- 页面最低端 -->
            <div id="index_view_footer">
                <div class="ui-footer">
                    <div class="item-wrapper">
                        <div class="item feedback">意见反馈</div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item app-recommend">应用推荐</div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item app-download">客户端</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
